* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.grid-container {
    min-height: 100%;
}

.grid-container .cell {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;

}

.grid-container .cell:nth-child(odd) {
//   background-color: #475477;
}

.grid-container {
    display: grid;
    // grid-template-columns: 100px 100px 100px;
    // grid-template-columns: 25% 50% 25%;     
    // grid-template-columns: 1fr 2fr 1fr 250px;
    // grid-template-columns: 250px 1fr 250px;
    // grid-template-columns: reNpeat(6, 1fr);
    // grid-template-columns: repeat(4, minmax(100px, 200px));
    // grid-template-columns: repeat(auto-fill, 300px);
    // grid-template-rows: repeat(2, 300px);
    // grid-template: repeat(2, 300px) / repeat(auto-fit, 300px);
    // grid-auto-rows: 400px;
    // grid-auto-flow: row;
    // grid-auto-flow: column;
    // grid-auto-flow: dense;
    // grid-template-areas: ;
    // grid-template: minmax(100px, auto) 1fr minmax(100px, auto) / minmax(100px, 200px) 1fr minmax(100px, 200px);
    // grid-column-gap: 10px;
    // grid-row-gap: 10px;

    // grid-template-areas: 
    //                     'header header header'
    //                     'left-side main right-side'
    //                     'footer footer footer';
}


.header {
    grid-area: header;
}

.left-side  {
    grid-area: left-side;
}

.main {
    grid-area: main;
}

.right-side  {
    grid-area: right-side;
}

.footer {
    grid-area: footer;
}





// .footer, .header {
//     background-color: red;
// }

// .main {
//     background-color: greenyellow;
// }

// .left-side, .right-side {
//     background-color: yellow;
// }
