body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.box {
    /* width: 100px;
    height: 100px; */
    border: 1px solid red;
    font-size: 100px;
}

.float-l {
    /* display: inline-block; */
    float: left;
    /* float: left; */
}

.float-r {
    float: right;
}

.container {
    border: 1px solid red;
}

.block {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
}

.text {
    border: 3px solid red;
}

.block-left, .block-right {
    /* width: 50%; */
    border: 1px solid blue;
    height: 100px;
}

.block-left {
    width: 25%;
    /* float: left; */
}

.block-right {
    width: 50%;
    float: right;
}

.clearfix {
    clear: both;
}

.right-side {
    margin-left: 30%;
    border: 1px solid red;
    height: 500px;
}

.left-side {
    height: 500px;
    border: 1px solid blue;
    width: 30%;
    float: left;
}

/* position */
.pos {
    /* position: static; */
    /* position: absolute; */
    position: fixed;
    left: 0px;
    top: 0px;
}

/* .menu-wrapper {
    text-align: center;
    margin-top: 100px;
}

.menu {
    display: inline-block;
    border: 1px solid black;
}

.menu-item {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    float: left;
    margin-right: 5px;
}
 */

 ul {
     padding: 0px;
     margin: 0px;
     list-style: none;
 }

 .header {
     /* border: 1px solid blue; */
     text-align: center;
 }

 .clearfix {
     clear: both;
 }

 .menu {
    display: inline-block;
 }

 .menu > .menu-item {
     float: left;
     margin-right: 5px;
     position: relative;
 }

 .menu .menu-item > .menu-button {
     display: inline-block;
     padding: 5px;
     background-color: black;
     color: red;
     border-radius: 5px;
 }

 .menu .menu-dropdown {
     background-color: grey;
     border: 1px solid black;
     color: yellow;
    /* display: none; */
    /* height: 0px; */
     width: 100px;
        opacity: 0;
     visibility: hidden;
     position: absolute;
     top: calc(100% + 4px);
     left: 0px;
    cursor: pointer;
    transition: all 1s;
 }



 .menu-item:after {
    content:'';
 }
 .menu-item:hover .menu-dropdown {
    opacity: 1;
    visibility: visible;
 }